body {
  max-width: 1120px;
  /* width: 100vw; */
}

/* banner section  */
/*  */
.banner {
  position: relative;
  width: 100%;
  margin-top: 5em;
  margin-left: 8em;
  align-items: center;
  justify-content: center;
}
.banner img {
  width: fit-content;
  /* background-image: linear-gradient(to right, rgba(19, 6, 6, 0) rgb(59, 56, 56)) */
}
.first-section {
  position: absolute;
  z-index: 10px;
  text-align: center;
  justify-content: center;
  color: white;
  top: 50%;
  left: 40%;
  opacity: 34px;
  transform: translate(-50%, -50%);
}
.first-section h4 {
  font-size: 2em;
  font-weight: 400;
}
.first-section h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 5px;
  word-break: break-all;
}

/* second section  */
.second-section {
  width: 100%;
  margin-left: 14em;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
  text-emphasis: inherit;
}
.main-div img {
  width: 80%;
  margin-left: 20em;
}
h2 {
  width: 60%;
  text-align: center;
  padding-left: 5.5em;
  color: crimson;
  font-size: 5em;
  font-weight: 800;
  line-height: 5px;
  /* top: 770px;
  left: 608px; */
}

h6 {
  font-size: 1.6em;
  text-align: center;
  color: crimson;
  font-weight: 700;
  line-height: 7px;
  /* padding-left: 6em; */
}
h5 {
  font-size: 2.9em;
  font-weight: 700;
  line-height: 10px;
  /* margin-top: 2px; */
}

/* third seection */
.contain {
  width: fit-content;
  margin-top: 4em;
}
.image-content {
  background-image: url("../slider_image/happyNewImg/Vectorrr.png");
  /* margin: 0 auto; */
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-position: center;
  text-align: left;
  padding-left: 8em;
  padding-top: 6em;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  margin-left: 10em;
}
.image-content h3 {
  font-size: 4em;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 4px;
}

.image-content p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 5px;
  word-wrap: break-word;
}

#btn {
  /* width: 90px; */
  padding: 12px 24px;
  border-radius: 15px;
}

/* foruth section */

.fort-container {
  background: linear-gradient(
    to bottom,
    rgb(240, 200, 232),
    rgb(247, 208, 247),
    rgb(247, 247, 247) 50%
  );
  height: 400px;
  width: 78vw;
  margin-left: 10em;
  padding-top: 1.8em;
  margin-top: 2em;
}

h3 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  /* padding-top: 2em; */
  line-height: 5px;
}
.btn-div #btn-1 {
  background-color: #ff0000;
  justify-content: center;
  align-items: center;
  margin-left: 35em;
  padding: 0.9em 1.4em;
  border-radius: 10px;
}
h3 span {
  color: #ff0000;
}
